.main{
  padding-top: 60px;
}
.form-container {
 
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff7f2;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #f57c00;
  }
  
  .form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    transition: border-color 0.3s ease;
  }
  
  .form-control:focus {
    outline: none;
    border-color: #f57c00;
    box-shadow: 0 0 0 0.2rem rgba(245, 124, 0, 0.25);
  }
  
  .btn-primary {
    background-color: #f57c00;
    border-color: #f57c00;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #e65100;
    border-color: #e65100;
  }
  
  .btn-secondary {
    background-color: #5499c7;
    border-color: #5499c7;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-secondary:hover {
    background-color: #2980b9;
    border-color: #2980b9;
  }
  
  