.home-page {
    background-image: url('./logo1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    padding: 2rem;
      }
  
  .home-page h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    ;
  }
  
  .home-page p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .viewbook {
    display: inline-block;
    background-color:#0056b3; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 80px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .viewbook:hover {
    background-color: #45a049; /* Darker green on hover */
  }