@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

.sticky-top {
	position: fixed;
	width:100%;
    top: 0; 
    z-index: 100000; 
   
  }
  

.navbar-brand {
	
		display: flex;
		align-items: center;
		background-image: url('./logo.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left center;
		padding-left: 2.5rem;
		font-weight: bold;
		width: 40px;
		height: 40px;
	  }
	  

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;

}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
	
}
/* Search Input and Button Styles */
.search-container {
    display: flex;
    align-items: center;
  }

  .search-input {
    padding: 8px 12px;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    width: 200px;
  }

  .search-button {
    padding: 8px 12px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .search-button:hover {
    background-color: #777;
  }